
node_modules/
.DS_Store
*.log
ª.lock
.idea/
.metadata/
.vscode
/ui/.npm
/images
package-lock.json
./website/src/config/config.json
/trash/*

.Trash

*~*
*#*

config/_development.json
config/_production.json
/.history/**/*
website/yarn.lock
public/**/*
website_old/.gitignore
website_old/build.bat
website_old/build.sh
website_old/config-overrides.js
website_old/fastBuild.sh
website_old/git.sh
website_old/package.json
website_old/yarn.lock
website_old/public/favicon.ico
website_old/public/index.html
website_old/public/logo192.png
website_old/public/logo512.png
website_old/public/manifest.json
website_old/public/robots.txt
website_old/public/data/bodylanguage-frbZGYCZ.png
website_old/public/images/13973.jpg
website_old/public/images/background-1.jpg
website_old/public/images/background.jpg
website_old/public/images/empty-dashboard-2.svg
website_old/public/images/empty-dashboard-3.svg
website_old/public/images/empty-dashboard.png
website_old/public/images/empty-dashboard.svg
website_old/public/images/empty-image-2.svg
website_old/public/images/empty-image.svg
website_old/public/images/empty-server-1.png
website_old/public/images/empty-server.png
website_old/public/images/login.png
website_old/public/images/login.svg
website_old/public/images/logo-small.png
website_old/public/images/logo-small.svg
website_old/public/images/logo.svg
website_old/public/images/reserved-area.png
website_old/public/images/server-empty.svg
website_old/public/images/sider-login.png
website_old/public/images/sider-recovery.png
website_old/public/images/sider-register.png
website_old/src/App.js
website_old/src/App.test.js
website_old/src/index.css
website_old/src/index.js
website_old/src/reportWebVitals.js
website_old/src/setupTests.js
website_old/src/@types/netuno__service-client.d.ts
website_old/src/common/Config.js
website_old/src/components/ClientsSelector/index.js
website_old/src/components/ClientsSelector/index.less
website_old/src/components/Company/index.js
website_old/src/components/Company/index.less
website_old/src/components/Icons/Card.js
website_old/src/components/Icons/Client.js
website_old/src/components/Icons/Exit.js
website_old/src/components/Icons/index.js
website_old/src/components/Icons/Menu.js
website_old/src/components/Icons/Options.js
website_old/src/components/Icons/PieChart.js
website_old/src/components/Icons/Time.js
website_old/src/components/Icons/User.js
website_old/src/components/Profile/index.js
website_old/src/components/Profile/index.less
website_old/src/config/_development_config.json
website_old/src/config/_production_config.json
website_old/src/config/config.json
website_old/src/fonts/FredokaOne-Regular.ttf
website_old/src/fonts/Oi-Regular.ttf
website_old/src/images/13973.jpg
website_old/src/images/13973.png
website_old/src/images/background-1.jpg
website_old/src/images/background-old.jpg
website_old/src/images/background-side.jpg
website_old/src/images/background.jpg
website_old/src/images/body-language.svg
website_old/src/images/empty-dashboard-3.svg
website_old/src/images/empty-server-1.png
website_old/src/images/empty-server.png
website_old/src/images/github-logo.png
website_old/src/images/login.png
website_old/src/images/login.svg
website_old/src/images/logo-big.png
website_old/src/images/logo-small.png
website_old/src/images/logo-small.svg
website_old/src/images/logo.png
website_old/src/images/logo.svg
website_old/src/images/reserved-area.png
website_old/src/images/server-empty.svg
website_old/src/images/sider-login.png
website_old/src/images/sider-recovery.png
website_old/src/images/sider-register.png
website_old/src/images/yellow_comic_zoom_lines_with_halftone_detailed_background.jpg
website_old/src/layout/Login/index.js
website_old/src/layout/Login/index.less
website_old/src/layout/Main/index.js
website_old/src/layout/Main/index.less
website_old/src/pages/Clients/index.js
website_old/src/pages/Clients/index.less
website_old/src/pages/Clients/Detail/index.js
website_old/src/pages/Clients/Detail/index.less
website_old/src/pages/Dashboard/index.js
website_old/src/pages/Dashboard/index.less
website_old/src/pages/Finance/index.js
website_old/src/pages/Finance/index.less
website_old/src/pages/Finance/Expense/index.js
website_old/src/pages/Finance/Expense/index.less
website_old/src/pages/Finance/Invoice/index.js
website_old/src/pages/Finance/Invoice/index.less
website_old/src/pages/Login/index.js
website_old/src/pages/Login/index.less
website_old/src/pages/Login/RecoverModal/index.js
website_old/src/pages/Login/RecoverModal/index.less
website_old/src/pages/NotFound/index.js
website_old/src/pages/NotFound/index.less
website_old/src/pages/Recovery/index.js
website_old/src/pages/Recovery/index.less
website_old/src/pages/Register/index.js
website_old/src/pages/Register/index.less
website_old/src/pages/ReservedArea/index.js
website_old/src/pages/ReservedArea/index.less
website_old/src/pages/Sessions/index.js
website_old/src/pages/Sessions/index.less
website_old/src/pages/Settings/index.js
website_old/src/pages/Settings/index.less
website_old/src/styles/App.less
website_old/src/styles/fonts.less
website_old/src/styles/variables.less
