
node_modules/
.DS_Store
*.log
ª.lock
.idea/
.metadata/
.vscode
/ui/.npm
/images
package-lock.json
./website/src/config/config.json
/trash/*

.Trash

*~*
*#*

config/_development.json
config/_production.json
/.history/**/*
website/yarn.lock
public/**/*
