
node_modules/
.DS_Store
*.log
.idea/
.metadata/
.vscode
/images
package-lock.json
./website/src/config/config.json
/trash/*

.Trash

*~*
*#*

config/_development.json
config/_production.json
/.history/**/*