@import '../../../styles/variables.less';

.client-card-left {
    margin-right: 10px;
}

.client-card-right {
    margin-left: 10px;
}

.client-card-big {
    margin: 20px 0;
}

.switch-client{
    float: right;
    margin-top: 5px;
}