@import './variables.less';
@import './fonts.less';

.page {
  font-family: 'Fira Sans', sans-serif;
  padding-top: @layout-header-height;
  min-height: 100vh;

  @media screen and (min-width: @mobile-width) {
    &.auth {
      padding-left: 200px;
      transition: all 0.2s;

      &.collapsed {
        padding-left: 80px;
      }
    }
  }

  .menu-side {
    background-color: transparent !important;
    background: url('../images/background.jpg') no-repeat center bottom fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


  >.ant-layout-sider {
    margin-top: -64px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    z-index: 100;
    left: 0;
    height: 100vh;
    position: fixed;

    .ant-layout-sider-zero-width-trigger {
      top: 0;
      line-height: 55px;

      .anticon {
        font-size: 22px;
      }
    }

    @media screen and (max-width: @mobile-width - 1px) {
      position: fixed;
      left: 0;
      top: 0;
      margin-top: 0;
      height: 100vh;
      z-index: 110;
    }

    .logo-container {
      max-width: 200px;
      height: 100px;
      line-height: @layout-header-height;
      display: inline-block;
      text-align: center;

      .logo {
        width: 140px;
        margin: 15px 30px;
      }

      .login-logo{
        width: 140px;
        margin: 15px 0px;        
      }

      .logo-small {
        width: 40px;
        margin-left: 20px;
      }

      @media screen and (max-width: @mobile-width) {
        max-width: 50%;
      }
    }
  }




  .go-back-btn {
    padding: 4px 0;
  }

  .ant {
    &-layout {
      &-header {
        position: fixed;
        width: 100vw;
        top: 0;
        padding: 0 calc((100vw - @desktop-width)/2);
        z-index: 100;

        @media screen and (max-width: @desktop-width) {
          padding: 0 40px;
        }

        &.auth {
          width: calc(100% - 200px);
          padding: 0 20px;
          right: 0;
          transition: all 0.2s;

          &.collapsed {
            width: 100%;

            @media screen and (min-width: @mobile-width) {
              width: calc(100% - 80px);
            }
          }
        }

        ul.ant-menu {
          display: block;
          float: right;
          clear: right;
          border: 0;

          .profile-menu {
            margin-right: 0;
            line-height: 55px;

            .anticon {
              padding: 0 14px;
              margin: 0;
              font-size: 22px;
            }
          }
        }

        .logo-container {
          max-width: 200px;
          height: @layout-header-height;
          line-height: @layout-header-height;
          display: inline-block;
          text-align: center;

          .logo {
            width: 140px;
            margin: 15px 30px;
          }

          .login-logo{
            width: 140px;
            margin: 15px 0px;        
          }    

          .logo-small {
            width: 40px;
            margin-left: 20px;
          }

          @media screen and (max-width: @mobile-width) {
            max-width: 50%;
          }
        }
      }

      &-content {
        position: relative;

        &.auth {
          background-color: #EEEEEE;
          padding: 20px 0;

          @media screen and (max-width: @mobile-width) {
            padding: 20px 0;
            margin-left: 80px;
          }
        }
      }

      &-has-sider {
        .ant-layout {
          &-content {
            @media screen and (min-width: @desktop-width) {
              padding: 40px 0 40px calc(50vw - @desktop-width/2 - 40px);
            }
          }

          &-sider {
            background-color: @layout-body-background;

            .helper {
              display: inline-block;
              height: 100%;
              vertical-align: middle;
            }

            img {
              width: 100%;
              vertical-align: middle;
            }

            @media screen and (max-width: @mobile-width) {
              display: none;
            }
          }
        }
      }

      &-footer {

        text-align: center;
        padding: 20px calc((100vw - @desktop-width)/2);

        @media screen and (max-width: @desktop-width) {
          padding: 20px 40px;
        }
      }
    }

    &-menu-item a {
      color: rgba(0, 0, 0, 0.65);
      font-weight: 600;
    }

    &-table {
      .ant-table-thead>tr>th {
        background: #81ad74;
        color: white;
        font-weight: bold;
      }

      .ant-table-tbody>tr>td {
        background: #91c48338;
      }
    }
  }



  .content {

    &-title,
    &-body {
      padding: 0 40px 5px;
    }
  }

  .big-title {
    line-height: 0.5;
    text-align: center;
    font-family: 'Ultra', serif;
    color: #4b4848;
    padding: 20px 10px 10px 10px;
    margin-bottom: 50px;
    //background: @primary-color;
  }

  .big-title span {
    display: inline-block;
    position: relative;
  }

  .big-title span:before,
  .big-title span:after {
    content: "";
    position: absolute;
    position: absolute;
    height: 25px;
    border-bottom: 10px solid #FFE162;
    border-top: 10px solid @primary-color;
    top: 0;
    width: calc((100vw - 367px)/2 - 45px);
  }

  .big-title span:before {
    right: 100%;
    margin-right: 15px;
    margin-left: 10px;

  }

  .big-title span:after {
    left: 100%;
    margin-left: 15px;
    margin-right: 10px;

  }

  .action-icon {
    color: @primary-color
  }

  .action-icon-yellow {
    color: #ddb718;
  }

  .action-icon-green {
    color: #91C483;
  }
}






#profile\$Menu {
  .ant-btn {
    padding: 0;
  }

  .anticon {
    margin: 0 0 1em;
  }


}