/* HTML: <div class="loader"></div> */
.loader {
    width: 32px;
    height: 16px;
    display: flex;
}

.loader:before,
.loader:after {
    content: "";
    flex: 1;
    background: #30b2bc;
    transform-origin: top right;
    animation: l10-1 2s infinite;
}

.loader:after {
    background: #ffbc00;
    transform-origin: top left;
    animation-delay: .25s;
}

@keyframes l10-1 {

    0%,
    5% {
        transform: rotate(0)
    }

    20%,
    30% {
        transform: rotate(90deg)
    }

    45%,
    55% {
        transform: rotate(180deg)
    }

    70%,
    80% {
        transform: rotate(270deg)
    }

    95%,
    100% {
        transform: rotate(360deg)
    }
}